* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*:focus {
    outline: none;
}

.page {
    display: flex;
    margin: 0 auto;
    width: 500px;
    justify-content: space-between;
}

/* CALCULADORA: */
.main-container {
    display: flex;
    flex-direction: column;
    height: 455px;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 15px;
    gap: 10px;
    background-color: rgb(255, 197, 126);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(255, 148, 60, 0.342);
    transition: height 0.5s ease, transform 0.3s ease;
}
.main-container:hover{
    transform: scale(1.005);
}
.main-container-extendido {
    height: 500px; 
}

.seletor-animation {
    animation: seletorAnimation 1s ease forwards;
}
@keyframes seletorAnimation {
    from { opacity: 0; transform: translateY(-10px);}
    to { opacity: 1; transform: translateY(0);}
}

.title {
    text-align: center;
    font-size: 26px;
    font-family: Tahoma;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.sub-title {
    text-align: center;
    font-size: 16px;
}

.selectors-container{
    display: grid;
    place-items: center;
    width: 100%;
    gap: 10px;
    border-radius: 12.5px;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(151, 151, 151);
    transition: ease 0.15s;
    outline: 3px solid rgb(255, 197, 126);
    outline-offset: -7px;
}
.selectors-container:hover{
    transform: scale(1.04);
}

.quantidade-faixas{
    display: flex;
    width: 95%;
    height: 100%;
    min-height: 35px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.color-bands-selectors{
    display: grid;
    place-items: center;
    height: 268px;
    width: 100%;
    gap: 10px;
    padding: 10px;
    border-radius: 12.5px;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(151, 151, 151);
    transition: height 0.5s ease, transform ease 0.2s;
    overflow: hidden;
}
.color-bands-selectors:hover{
    transform: scale(1.005);
}
.color-bands-selectors-extended{
    height: 315px;
}

.cor{
    display: flex;
    width: 95%;
    height: 100%;
    min-height: 35px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.selector5  {
    margin-top: 15px;
}

.result-container{
    display: grid;
    place-items: center;
    width: 350px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(173, 173, 173);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.18);
    transition: ease 0.2s;
}
.result-container:hover{
    transform: scale(1.04);
}

.text {
    font-size: 30px;
    font-weight: 500;
}
.text2 {
    font-size: 14px;
    font-weight: 500;
    color: rgb(110, 110, 110);
    text-shadow: 3px 3px 10px rgb(0, 0, 0, 0.3);
}



/* RESISTOR: */
.resistor-container{
    display: grid;
    place-items: center;
    width: 100px;
    height: 440px;
}

.resistor{
    position: relative;
    display: grid;
    place-items: center;
    margin-top: 160px;
    height: 340px;
    transition: height 0.5s ease forwards;
}
.resistor-extended {
    height: 387px;
}

.pino {
    display: flex;
    height: 340px;
    width: 15px;
    background-color: rgb(163, 163, 163);
    border-radius: 10px;
    transition: height 0.5s ease forwards;
}
.pino-extended {
    height: 387px;
}

.quadrado {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: rgb(255, 216, 166);
    border-radius: 30px;
}
.q1 {
    top: 45px;
}
.q2 {
    bottom: 45px;
}

.retangulo{
    display: grid;
    place-items: center;
    position: absolute;
    height: 200px;
    width: 50px;
    background-color: rgb(255, 216, 166);
    transition: height 0.5s ease;
}
.retangulo-extended {
    height: 247px;
}

.faixa {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: rgb(224, 224, 224);
}
#f1 {
    bottom: 30px;
}
#f2 {
    top: 65px;
}
#f3 {
    top: 110px;
}

#f4 {
    top: 110px;
}
.f4-extended {
    top: 155px !important;
}

#f5 {
    top: 28px;
}